@charset "UTF-8";

    input{
        margin-left: 57%;
    }
    svg {
        font: 10px sans-serif;
    }

    html{
    background-color: #808888;
}

  body {
      font: 11px sans-serif;

  }

  .legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}

    .nav-bar {
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
        height: 40px;
        text-align: center;
        background-color: maroon;
        /* border-radius: 40px; */
        width: 100%;
    }

    .reset {
        margin-left: 35%;
        margin-top: 2%;
        /* font-family: Georgia, Cambria, "Times New Roman", Times, serif; */
        background-color: chocolate;
        border: none;
        border-radius: 25px;
        color: white;
        font-size: 12px;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.05s cubic-bezier(.25,.8,.25,1);
    }

  .reset:hover {
    background-color: darksalmon;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .nav-bar div {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 600;
    font-size: 18px;
    padding-top: 9px;
    letter-spacing: 0.02em;
    color: snow;
  }

  .background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
  }

  .foreground path {
    fill: none;
    stroke: steelblue;
  }

  .brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
  }



  /* Legend Position Style */
  .legend {
      position:absolute;
      left:20px;
      top:30px;
  }



  #usmap {
      display: inline-block;
      width: 40%;
      bottom: 50%;
      margin-left: 5%;
  }

  #parallelcood {
      display: inline-block;
      width: 40%;
      margin-top: 1%;
      bottom: 60%;
      margin-left: 5%;
  }

  #barchart {
      display: inline-block;
      width: 40%;
      top: 50%;
      margin-left: 5%;
  }
  #scatterplot {
      display: inline-block;
      width: 43%;
      top: 50%;
      margin-left: 5%;
  }