<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    /* Legend Font Style */

    svg {
      font: 10px sans-serif;
    }

    .background path {
      fill: none;
      stroke: #ddd;
      shape-rendering: crispEdges;
    }

    .foreground path {
      fill: none;
      stroke: steelblue;
    }

    .brush .extent {
      fill-opacity: .3;
      stroke: #fff;
      shape-rendering: crispEdges;
    }

    .axis line,
    .axis path {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .axis text {
      text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
      cursor: move;
    }


    body {
        font: 11px sans-serif;
        background-color: #ffffff;
    }

    /* Legend Position Style */
    .legend {
        position:absolute;
        left:20px;
        top:30px;
    }

    .axis text {
        font: 10px sans-serif;
    }

    .axis line, .axis path {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    #wrapper {
    width: 540px;
    height:770px;
    }
    #wrapper2 {
    width: 750px;
    height:770px;
    }

    #usmap {
        display: inline-block;
        #width: 100%;
        #height: 40%;
        margin-top: 1%;
        #background: red;
    }

    #parallelcood {
        display: inline-block;
        #width: 100%;
        #height: 78.5%;
        #background: green;
        margin-top: 1%;
    }
    #barchart {
        display: inline-block;
        #width: 100%;
        #height: 18%;
        #background: green;
        margin-top: 1%;
    }
    #scatterplot {
        display: inline-block;
        #width: 100%;
        #height: 57%;
        #background: blue;
        margin-top: 1%;
    }

</style>
<head>
    <title>Final Project</title>
</head>
    <div id="usmap"></div>
    <div id="parallelcood"></div>
    <div id="scatterplot"></div>
    <div id="barchart"></div>
<body>
</body>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    function colorpicker(v) {
        if (v === 1) {
            return "red";
        }
        if (v === 2) {
            return "orange";
        }
        if (v === 3) {
            return "blue";
        }
        if (v === 4) {
            return "green";
        }
    }


    var data = {{data.chart_data |safe}};
    console.log(data[0]);

    var us_state_fullform = {'AL': 'Alabama',
                             'AK': 'Alaska',
                             'AS': 'American Samoa',
                             'AZ': 'Arizona',
                             'AR': 'Arkansas',
                             'CA': 'California',
                             'CO': 'Colorado',
                             'CT': 'Connecticut',
                             'DE': 'Delaware',
                             'DC': 'District of Columbia',
                             'FL': 'Florida',
                             'GA': 'Georgia',
                             'GU': 'Guam',
                             'HI': 'Hawaii',
                             'ID': 'Idaho',
                             'IL': 'Illinois',
                             'IN': 'Indiana',
                             'IA': 'Iowa',
                             'KS': 'Kansas',
                             'KY': 'Kentucky',
                             'LA': 'Louisiana',
                             'ME': 'Maine',
                             'MD': 'Maryland',
                             'MA': 'Massachusetts',
                             'MI': 'Michigan',
                             'MN': 'Minnesota',
                             'MS': 'Mississippi',
                             'MO': 'Missouri',
                             'MT': 'Montana',
                             'NE': 'Nebraska',
                             'NV': 'Nevada',
                             'NH': 'New Hampshire',
                             'NJ': 'New Jersey',
                             'NM': 'New Mexico',
                             'NY': 'New York',
                             'NC': 'North Carolina',
                             'ND': 'North Dakota',
                             'MP': 'Northern Mariana Islands',
                             'OH': 'Ohio',
                             'OK': 'Oklahoma',
                             'OR': 'Oregon',
                             'PA': 'Pennsylvania',
                             'PR': 'Puerto Rico',
                             'RI': 'Rhode Island',
                             'SC': 'South Carolina',
                             'SD': 'South Dakota',
                             'TN': 'Tennessee',
                             'TX': 'Texas',
                             'UT': 'Utah',
                             'VT': 'Vermont',
                             'VI': 'Virgin Islands',
                             'VA': 'Virginia',
                             'WA': 'Washington',
                             'WV': 'West Virginia',
                             'WI': 'Wisconsin',
                             'WY': 'Wyoming'};

    var uri = "http://127.0.0.1:5000/";

    function usmap(){

        //Width and height of map
        var width = 540;
        var height = 300;

        var lowColor = '#7FB3D5';
        var highColor = '#2471A3';

        var projection = d3.geoAlbersUsa()
                            .translate([width / 2, height / 2]) // translate to center of screen
                            .scale([600]); // scale things down so see entire US

        // Define path generator
        var path = d3.geoPath() // path generator that will convert GeoJSON to SVG paths
                    .projection(projection); // tell path generator to use albersUsa projection


        //Create SVG element and append map to the SVG
        var svg_usmap = d3.select("#usmap")
                    .append("svg")
                    .attr("width", width)
                    .attr("height", height);

        var url = uri + "getstatesdata";

        // Load in my states data!
        $.post(url, function(data) {
            data = JSON.parse(data.chart_data);
    	    var dataArray = [];
    	    for (var d = 0; d < data.length; d++) {
    		    dataArray.push(parseFloat(data[d].value))
    	    }
    	    var minVal = d3.min(dataArray);
    	    var maxVal = d3.max(dataArray);
    	    var ramp = d3.scaleLinear().domain([minVal,maxVal]).range([lowColor,highColor]);

            url = uri + "getusmapdata";
            // Load GeoJSON data and merge with states data
            $.post(url, function(json) {
                json = JSON.parse(json.chart_data);
            // Loop through each state data value in the .csv file
            for (var i = 0; i < data.length; i++) {
                // Grab State Name
                var dataState = data[i].state;
                // Grab data value
                var dataValue = data[i].value;

                // Find the corresponding state inside the GeoJSON
                for (var j = 0; j < json.features.length; j++) {
                    var jsonState = json.features[j].properties.name;

                    if (dataState === jsonState) {

                        // Copy the data value into the JSON
                        json.features[j].properties.value = dataValue;

                        // Stop looking through the JSON
                        break;
                    }
                }
            }
            svg_usmap.selectAll("path")
                .data(json.features)
                .enter()
                .append("path")
                .attr("d", path)
                .style("stroke", "#fff")
                .style("stroke-width", "1")
                .style("fill", function(d) { return ramp(d.properties.value) })
                .on('click', function(d) {
                    showStateBars(d.properties.name);

                });
            });
        });

    }

    var graphdiv = d3.select("#usmap")
                      .append("div")
                      .attr("id", "graphdiv");

    //Get state data
    function showStateBars(state) {

        d3.select("#barchart").select("svg").remove();
        d3.select("#scatterplot").select("svg").remove();
        d3.select("#parallelcood").select("svg").remove();
        document.getElementById("graphdiv").innerHTML = "";
        var statedata = [],
            city_count;
        for (var i = 0; i < data.length; i++) {
            var datastate = us_state_fullform[data[i].State];
            if(datastate === state) {
                console.log("Inside state bars for state: " + datastate);
                statedata.push(data[i]);
            }
        }

        //citycount barchart

        city_count = d3.nest()
            .key(function(d) {
                return d.City;
            })
            .rollup(function(leaves) {
                return leaves.length;
            })
            .entries(statedata);

        console.log(statedata);

        var margin = {top: 20, right: 20, bottom: 90, left: 50},
            margin2 = {top: 230, right: 20, bottom: 30, left: 50},
            width = 600 - margin.left - margin.right,
            height = 300 - margin.top - margin.bottom,
            height2 = 300 - margin2.top - margin2.bottom;

            var svg_bc = d3.select("#barchart").append("svg")
                        .attr("width",width+margin.left+margin.right)
                        .attr("height",height+margin.top+margin.bottom);

            var focus = svg_bc.append("g")
                        .attr("transform","translate("+margin.left+","+margin.top+")");
            var context = svg_bc.append("g")
                        .attr("transform","translate("+margin2.left+","+margin2.top+")");

            var maxHeight=d3.max(city_count,function(d){return d.value});
            var minHeight=d3.max(city_count,function(d){return d.value});

            var yScale = d3.scaleLinear()
                        .range([0,height])
                        .domain([0, d3.max(city_count, function(d) { return d.value; })]);

            var xScale = d3.scaleBand()
                        .rangeRound([0,width])
                        .padding(0.1)
                        .domain(city_count.map(function(d) { return d.key; }));

            var yScale2 = d3.scaleLinear()
                .range([0,height2])
                .domain([0, d3.max(city_count, function(d) { return d.value; })]);

            var xScale2 = d3.scaleBand()
                .rangeRound([0,width])
                .padding(0.1)
                .domain(city_count.map(function(d) { return d.key; }));

            var yAxis = d3.axisLeft(yScale)
                            .tickSize(-width);

            var yAxisGroup = focus.append("g").call(yAxis);

            var xAxis = d3.axisBottom(xScale).tickSize(-height);
            var xAxisGroup = focus.append("g").call(xAxis)
                            .attr("transform", "translate(0,"+height+")");

            var xAxis2 = d3.axisBottom(xScale2);
            var xAxisGroup2 = context.append("g").call(xAxis2)
                .attr("transform", "translate(0,"+height2+")");

            var bars1 = focus.selectAll("rect")
                .data(city_count)
                .enter()
                .append("rect")
                .attr("x",function(d){ return xScale(d.key);})
                .attr("y",function(d){ return yScale(d.value);})
                .attr("width", xScale.bandwidth())
                .attr("height", function(d){ return height-yScale(d.value);})
                .attr("fill",function(d){ return "steelblue"; });

            var bars2 = context.selectAll("rect")
                .data(city_count)
                .enter()
                .append("rect")
                .attr("x",function(d){ return xScale2(d.key);})
                .attr("y",function(d){ return yScale2(d.value);})
                .attr("width", xScale2.bandwidth())
                .attr("height", function(d){ return height2-yScale2(d.value); })
                .attr("fill",function(d){ return "steelblue"; });

            var brush = d3.brushX()
                        .extent([[0,0],[width,height2]])
                        .on("brush",brushed)
                        .on("end",brushend);
            context.append("g")
                .attr("class","brush")
                .call(brush)
                .call(brush.move,xScale2.range());



            function brushed(){
                if (!d3.event.sourceEvent) return;
                if (!d3.event.selection) return;
                if(d3.event.sourceEvent && d3.event.sourceEvent.type === "zoom") return;
                var newInput = [];
                var brushArea = d3.event.selection;
                if(brushArea === null) brushArea = xScale.range();

                xScale2.domain().forEach(function(d){
                    var pos = xScale2(d) + xScale2.bandwidth()/2;
                    if (pos >= brushArea[0] && pos <= brushArea[1]){
                      newInput.push(d);
                    }
                });

                xScale.domain(newInput);
                bars1.attr("x",function(d,i){
                    return xScale(i);
                })
                .attr("y",function(d){
                    return yScale(d);
                })
                .attr("width", xScale.bandwidth())
                .attr("height", function(d,i){
                    if(xScale.domain().indexOf(i) === -1){
                        return 0;
                    }
                    else
                        return height-yScale(d);
                });

                xAxisGroup.call(xAxis);
            }
            function brushend(){
                if (!d3.event.sourceEvent) return; // Only transition after input.
                if (!d3.event.selection) return; // Ignore empty selections.
                if(d3.event.sourceEvent && d3.event.sourceEvent.type === "zoom") return;
                var newInput = [];
                var brushArea = d3.event.selection;
                if(brushArea === null) brushArea = xScale.range();


                xScale2.domain().forEach(function(d){
                    var pos = xScale2(d) + xScale2.bandwidth()/2;
                    if (pos >= brushArea[0] && pos <= brushArea[1]){
                      newInput.push(d);
                    }
                });

                var increment = 0;
                var left=xScale2(d3.min(newInput));
                var right = xScale2(d3.max(newInput))+xScale2.bandwidth();

                d3.select(this).transition().call(d3.event.target.move,[left,right]);
            }

        /* OLD Bar chart

        var margin_bc = {top_bc: 10, right_bc: 20, bottom_bc: 30, left_bc: 40},
            width_bc = 720 - margin_bc.left_bc - margin_bc.right_bc,
            height_bc = 150 - margin_bc.top_bc - margin_bc.bottom_bc;

        // set the ranges
        var x = d3.scaleBand()
                  .range([0, width_bc])
                  .padding(0.1);
        var y = d3.scaleLinear()
                  .range([height_bc, 0]);

        var svg_bc = d3.select("#barchart").append("svg")
                    .attr("width", width_bc + margin_bc.left_bc + margin_bc.right_bc)
                    .attr("height", height_bc + margin_bc.top_bc + margin_bc.bottom_bc)
                  .append("g")
                    .attr("transform",
                          "translate(" + margin_bc.left_bc + "," + margin_bc.top_bc + ")")
                    .call(d3.zoom().on("zoom", function () {
                    svg_bc.attr("transform", d3.event.transform)
                }));

        city_count.forEach(function(d) {
            d.value = +d.value;
        });

        x.domain(city_count.map(function(d) { return d.key; }));
        y.domain([0, d3.max(city_count, function(d) { return d.value; })]);

        svg_bc.selectAll(".bar")
              .data(city_count)
            .enter().append("rect")
              .attr("class", "bar")
              .attr("x", function(d) { return x(d.key); })
              .attr("width", x.bandwidth())
              .attr("y", function(d) { return y(d.value); })
              .attr("height", function(d) { return height_bc - y(d.value); });

          // add the x Axis
          svg_bc.append("g")
              .attr("transform", "translate(0," + height_bc + ")")
              .call(d3.axisBottom(x));

          // add the y Axis
          svg_bc.append("g")
              .call(d3.axisLeft(y));*/


          //scatterplot

        var margin_sp = {top_sp: 30, right_sp: 50, bottom_sp: 40, left_sp:40};
	    var width_sp = 560 - margin_sp.left_sp - margin_sp.right_sp;
	    var height_sp = 450 - margin_sp.top_sp - margin_sp.bottom_sp;

	    var svg_sp = d3.select('#scatterplot')
            .append('svg')
            .attr('width', width_sp + margin_sp.left_sp + margin_sp.right_sp)
            .attr('height', height_sp + margin_sp.top_sp + margin_sp.bottom_sp)
        .append('g')
            .attr('transform', 'translate(' + margin_sp.left_sp + ',' + margin_sp.top_sp + ')');

	    var xScale_sp = d3.scaleLinear()
		    .range([0, width_sp]);

        var yScale_sp = d3.scaleLinear()
            .range([height_sp, 0]);

        var xAxis_sp = d3.axisBottom()
            .scale(xScale_sp);

        var yAxis_sp = d3.axisLeft()
            .scale(yScale_sp);


        statedata.forEach(function(d){
			 d.PC1 = +d.PC1;
			 d.PC2 = +d.PC2;
		});

        xScale_sp.domain(d3.extent(statedata, function(d){
			return d.PC1;
		})).nice();

		yScale_sp.domain(d3.extent(statedata, function(d){
			return d.PC2;
		})).nice();

        svg_sp.append('g')
			.attr('transform', 'translate(0,' + height_sp + ')')
			.attr('class', 'x axis')
			.call(xAxis_sp);

		svg_sp.append('g')
			.attr('transform', 'translate(0,0)')
			.attr('class', 'y axis')
			.call(yAxis_sp);

		svg_sp.selectAll(".dot")
			.data(statedata)
			.enter().append('circle')
			.attr('cx', function(d){return xScale_sp(d.PC1);})
			.attr('cy', function(d){ return yScale_sp(d.PC2); })
			.attr('r', 3)
			.style('fill', function(d){ return colorpicker(d.Severity); });


		// Parallel co-od
        var margin_pc = {top_pc: 30, right_pc: 10, bottom_pc: 10, left_pc: 10},
            width_pc = 760 - margin_pc.left_pc - margin_pc.right_pc,
            height_pc = 300 - margin_pc.top_pc - margin_pc.bottom_pc;

        var svg_pc = d3.select("#parallelcood")
                    .append("svg")
                      .attr("width", width_pc + margin_pc.left_pc + margin_pc.right_pc)
                      .attr("height", height_pc + margin_pc.top_pc + margin_pc.bottom_pc)
                    .append("g")
                      .attr("transform",
                            "translate(" + margin_pc.left_pc + "," + margin_pc.top_pc + ")");

        var dimensions = ["Severity", "Temperature_F", "Humidity_per", "Pressure_in", "Visibility_mi", "Wind_Speed_mph", "Precipitation_in"];

        var names = "";
        var y = {};
        for (i in dimensions) {
            names = dimensions[i];
            y[names] = d3.scaleLinear()
                        .domain( d3.extent(statedata, function(d) { return +d[names]; }) )
                        .range([height_pc, 0])
        }
        x_pc = d3.scalePoint()
            .range([0, width_pc])
            .padding(1)
            .domain(dimensions);

        function path(d) {
            return d3.line()(dimensions.map(function(p) { return [x_pc(p), y[p](d[p])]; }));
        }
        console.log(y);

        svg_pc.selectAll("myPath")
            .data(statedata)
            .enter()
            .append("path")
            .attr("class", function (d) { return "line " + d.Species } )
            .attr("d",  path)
            .style("fill", "none")
            .style("stroke", function(d) {return colorpicker(d.Severity);})
            .style("opacity", 0.5)
            .on("mouseover", function() {
                    d3.selectAll(".line")
                        .style("stroke", "lightgrey")
                        .style("opacity", "0.2")
                    d3.select(this)
                        .style("stroke", function(d) {return colorpicker(d.Severity);})
                    .style("opacity", 1); })
            .on("mouseout", function() {
                    d3.selectAll(".line")
                        .style("stroke", function(d) {return colorpicker(d.Severity);})
                        .style("opacity", 0.5); });

         svg_pc.selectAll("myAxis")
             .data(dimensions).enter()
             .append("g")
             .attr("transform", function(d) { return "translate(" + x_pc(d) + ")"; })
             .each(function(d) {
                 d3.select(this).call(d3.axisLeft().scale(y[d])); })
             .append("text")
                .style("text-anchor", "middle")
             .attr("y", -9)
             .text(function(d) { return d; })
                .style("fill", "black")



    }
    usmap()


</script>


</html>
