<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
<head>
    <title>Final Project</title>
</head>
<div class="nav-bar">
    <div>US Accidents Dashboard</div>
</div>
    <div id="usmap"></div>
    <div id="parallelcood"></div>
    <div id="scatterplot"></div>
    <div id="barchart">
        <input type="checkbox" id="logdisplay" name="logdisplay" value="logdisplay">
        <label id="loglabel" for="logdisplay">Display log view</label>
    </div>
<body>
</body>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript"
         src="{{ url_for('static', filename='dashboard.js') }}"></script>
<script>
    loadData({{ data.chart_data | safe }});
</script>
</html>
